.container{
  height: 100vh;
  padding: 5rem;
  box-sizing: border-box;
}
.mainlogo {
  filter: drop-shadow(0 40px 10px rgba(0, 0, 0, 0.329));
}
.downarrow {
  filter: drop-shadow(0 35px 3px rgba(0, 0, 0, 0.329));

}
.rightarrow{
  filter: drop-shadow(0 35px 3px rgba(0, 0, 0, 0.329));

}
.brands> svg:hover{
color: green;
}
.videohome{
 
  width: 80%;
  height: 60%;
 outline: none;
 object-fit: fill;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
}
@media (max-width: 600px) {
  .rightarrow {
    display: none;
  }
}

@media (min-width: 601px) {
  .downarrow {
    display: none;
  }
}
.course{
  margin-bottom: 1rem;
  transition: all 0.5s;
}
.course:hover{
  transform: translateY(-10px);
}